@model IEnumerable<QLGO.Models.LOAINGUOIDUNG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã loại người dùng
        </th>
        <th>
            Tên loại người dùng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDLND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLND)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.IDLND }) |
                @Html.ActionLink("Xem chi tiết", "Details", new { id = item.IDLND }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.IDLND })
            </td>
        </tr>
    }

</table>