@model QLGO.Models.CTDONDATHANG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CTDONDATHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Số lượng đặt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SLDat)
        </dd>

        <dt>
            Tên người đặt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DONDATHANG.TenNguoiDH)
        </dd>

        <dt>
            Sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SANPHAM.TenSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
