@model IEnumerable<QLGO.Models.LOAITHANHTOAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã loại thanh toán
        </th>
        <th>
            Tên loại thanh toán
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDLTT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLTT)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.IDLTT }) |
                @Html.ActionLink("Xem chi tiết", "Details", new { id = item.IDLTT }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.IDLTT })
            </td>
        </tr>
    }

</table>
