@model IEnumerable<QLGO.Models.LOAISANPHAM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>LOẠI SẢN PHẨM</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã loại sản phẩm
        </th>
        <th>
            Tên loại sản phẩm
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDLSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLSP)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.IDLSP }) |
                @Html.ActionLink("Xem chi tiết", "Details", new { id = item.IDLSP }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.IDLSP })
            </td>
        </tr>
    }

</table>
