@model QLGO.Models.HOADON

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày xuất hóa đơn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayXuatHD)
        </dd>

        <dt>
            Tên nhân viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGUOIDUNG.TenND)
        </dd>
        <dt>
            Tên khách hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGUOIDUNG1.TenND)
        </dd>

        <dt>
            Loại thanh toán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAITHANHTOAN.TenLTT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDHD }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
